@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);
:root {
  --var-back: rgb(255, 255, 255);
}
@font-face {
  font-family: "Digital";
  src: url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot");
  src: url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff") format("woff"), url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.svg#Digital-7") format("svg");
}

main {
  height: 99vh;
  width: 100%;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

table {
  border-collapse: separate !important;
}

.calculator-container {
  background-color: black;
  width: 21rem;
  display: flex !important;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.quadrate {
  width: 5rem;
  height: 5rem;
  background-color: #4D4D4D;
  text-align: center;
  margin: 0.5rem;
  color: white;
}

.quadrate:hover {
  color: black;
  outline: .05em solid grey;
  z-index: 3;
  cursor: pointer;
}

.quadrate-wide {
  width: 10rem;
}

.quadrate-tall {
  height: 10rem;
}

.red {
  background-color: #AC3939;
}

.blue {
  background-color: #004466;
}

.inputs {
  width: 100%;
  height: 5rem;
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: black;
  border: none;
  outline: none;
  font-family: digital;
  font-size: 2.5rem;
}

#first-input {
  color: #A26900;
}

#second-input {
  color: white;
}